## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_footer()">
%if content_footer:
<div class="wrapper style4">
	<article class="container 75%">
		<div class="row">
			<div class="12u 12u(mobile)">
				<hr />
				<h3>Find me on ...</h3>
				<ul class="social">
					<li><a href="https://github.com/ricardokirkner" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="https://linkedin.com/in/ricardokirkner" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
					<li><a href="https://twitter.com/ricardokirkner" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="mailto:ricardo@kirkner.com.ar" class="icon fa-envelope"><span class="label">Email</span></a></li>
					<li><a href="skype:ricardokirkner" class="icon fa-skype"><span class="label">Skype</span></a></li>
					<li><a rel="alternate" type="application/rss+xml" title="RSS" href="${_link('rss', None)}" class="icon fa-rss"><span class="label">RSS</span></a></li>
					<li><a href="irc://irc.freenode.net/pindonga,isnick" class="icon fa-comment"><span class="label">IRC</span></a></li>
				</ul>
				<hr />
			</div>
		</div>
		<footer id="footer">
			<ul id="copyright">
				<li>${content_footer}</li>
				<li>Design: <a href="http://html5up.net/miniport">Miniport</a>.</li>
			</ul>
			${template_hooks['page_footer']()}
		</footer>
	</article>
</div>
%endif
</%def>
